body{
	background-image: url(notebook/notebook_@2X.png);

}
.container{
	background-image: url(notebook/notebook.png);
	width: 90%;
	margin: 0 auto;
	/*border: 2px solid red;*/
	overflow: hidden;
	padding: 5px;
}

.section{
	float: right;
	border: 1px solid black;
	width: 49%;
}

.avatar{
	max-height: 250px;
	max-width: 200px;
}

#user{
	float: left;
}

#quote-form{
	display: none;
}

#quote-area{
	resize: none;
	display: block;
	margin-bottom: 5px;
}

.quote-head{
	display: inline-block;
}

/*Card-flip style transform*/
.quote-container{
	position: relative;
	border-top: 1px solid #555;
}

.personal-quotes, .shared-quotes{
	width: 100%;
}

.personal-quotes{
	position: relative;
	-webkit-backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
}

.shared-quotes{
	position: absolute;
	top: 0;
	left: 0;
	transition: -webkit-transform .5s linear 0s;
	-webkit-transform: rotateY(-180deg);
	-webkit-backface-visibility: hidden;

}

.front-flip{
	-webkit-transform: rotateY(180deg);
	
}

.back-flip{
	-webkit-transform: rotateY(0deg);
}
/*end Card-flip style transform*/


.share{
	display: block;
}

#user-name, .friend-name{
	vertical-align: top;
	display: inline-block;
	text-shadow: 2px 2px 2px #333;
}








